* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* border: 1px solid black; */
  /* margin: 20px 10px; */
  padding: 5px;
}

h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}

header {
  display: flex;
}

img {
  width: 12rem;
  height: 12rem;
}

/* add media queries for mobile first design. Set a breakpoint for small, medium and large screens and make adjustments for the layout with grow and shrink basis */
